In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

## Read dataset

In [2]:
data = pd.read_csv('./Delhi+Delights+Data.csv')
data.head()

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,Yes
1,2.5,11,No
2,2.5,11,No
3,3.5,11,No
4,3.5,11,No

In [3]:
data.describe()

       Average Delivery Rating (a1)  Average Orders per month (a2)
count                     30.000000                      30.000000
mean                       3.066667                      21.000000
std                        1.040004                      10.763924
min                        1.500000                      11.000000
25%                        2.500000                      13.000000
50%                        3.000000                      15.000000
75%                        3.500000                      27.000000
max                        4.500000                      39.000000