In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score

In [22]:
df = pd.DataFrame({'Name': ['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay'],'Response': ['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']
})

In [23]:
df

       Name Response
0   Reetesh       No
1    Shruti    Maybe
2  Kaustubh      yes
3     Vikas      Yes
4    Mahima    maybe
5    Akshay      Yes

In [24]:
# df['Response'] = df.Response.str.lower().map({'yes':1.0, 'no':0.0, 'maybe':0.5})
df

       Name Response
0   Reetesh       No
1    Shruti    Maybe
2  Kaustubh      yes
3     Vikas      Yes
4    Mahima    maybe
5    Akshay      Yes

In [25]:
# df.Response.map({'yes':1.0, 'no':0.0, 'maybe':0.5})

In [26]:
points = pd.Series([1, 5, 7, 10, 12, 15, 18, 25, 50])

In [27]:
points

0     1
1     5
2     7
3    10
4    12
5    15
6    18
7    25
8    50
dtype: int64

In [35]:
# Applying MinMax scalling

min_p = np.min(points)
max_p = np.max(points)

points.apply(lambda x: round(((x-min_p) / (max_p-min_p)), 2))

0    0.00
1    0.08
2    0.12
3    0.18
4    0.22
5    0.29
6    0.35
7    0.49
8    1.00
dtype: float64

In [59]:
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/QNdMORzykKkG4L3WQ17Xx53o3/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/Mq5p8YpQoz3KbWJRE4Mey1Yoq/insurance_test.csv")

In [62]:
test.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region  BMI_group
0         764   45    0  25.175         2       0       0          3
1         887   36    0  30.020         0       0       1          2
2         890   64    0  26.885         0       1       1          3
3        1293   46    1  25.745         3       0       1          3
4         259   19    1  31.920         0       1       1          2

In [63]:
min_max_scaler = MinMaxScaler()
train[train.columns] = min_max_scaler.fit_transform(train)

In [64]:
train.describe()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
count,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000
mean,0.498564,0.464283,0.512150,0.392801,0.221495,0.205607,0.502804,0.529907,0.198862
std,0.288940,0.305956,0.500086,0.162588,0.243197,0.404334,0.371725,0.180409,0.195531
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.248504,0.195652,0.000000,0.275626,0.000000,0.000000,0.333333,0.500000,0.061424
50%,0.501122,0.467391,1.000000,0.383374,0.200000,0.000000,0.666667,0.500000,0.137521
75%,0.750000,0.717391,1.000000,0.498688,0.400000,0.000000,0.666667,0.750000,0.254181
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [65]:
y_train = train['charges']
X_train = train.drop('charges', axis=1)

In [66]:
y_train.head()

0    0.131313
1    0.120590
2    0.422901
3    0.121601
4    0.184696
Name: charges, dtype: float64

In [67]:
X_train.head()

   Unnamed: 0       age  sex       bmi  children  smoker    region  BMI_group
0    0.418848  0.608696  0.0  0.107345       0.4     0.0  0.333333       0.25
1    0.961107  0.630435  0.0  0.224913       0.0     0.0  0.000000       0.25
2    0.854151  0.739130  0.0  0.239440       0.0     0.0  0.666667       0.25
3    0.724757  0.456522  0.0  0.493947       1.0     0.0  0.666667       0.50
4    0.363500  0.782609  0.0  0.148238       0.6     0.0  0.333333       0.25

In [68]:
X_train_sm = sm.add_constant(X_train)

/usr/local/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [69]:
lm = sm.OLS(y_train, X_train_sm).fit()

lm.params

const        -0.042961
Unnamed: 0    0.010797
age           0.192812
sex          -0.000040
bmi           0.205022
children      0.033975
smoker        0.384165
region       -0.013115
BMI_group    -0.025495
dtype: float64

In [70]:
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.743
Model:                            OLS   Adj. R-squared:                  0.741
Method:                 Least Squares   F-statistic:                     382.5
Date:                Sun, 19 Jul 2020   Prob (F-statistic):          2.51e-306
Time:                        19:37:42   Log-Likelihood:                 954.44
No. Observations:                1070   AIC:                            -1891.
Df Residuals:                    1061   BIC:                            -1846.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0430      0.015     -2.952      0.003      -0.072      -0.014
Unnamed: 0     0.0108      0.011      1.021      0.307      -0.010       0.032
age            0.1928      0.010     19.156      0.000       0.173       0.213
sex        -3.965e-05      0.006     -0.006      0.995      -0.012       0.012
bmi            0.2050      0.019     10.701      0.000       0.167       0.243
children       0.0340      0.013      2.704      0.007       0.009       0.059
smoker         0.3842      0.008     50.755      0.000       0.369       0.399
region        -0.0131      0.008     -1.578      0.115      -0.029       0.003
BMI_group     -0.0255      0.017     -1.506      0.132      -0.059       0.008
==============================================================================
Omnibus:                      250.688   Durbin-Watson:                   2.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              610.004
Skew:                           1.245   Prob(JB):                    3.46e-133
Kurtosis:                       5.736   Cond. No.                         11.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [72]:
test['charges'] = train['charges']

In [73]:
test[test.columns] = min_max_scaler.transform(test)

In [75]:
test = test.drop('charges', axis=1)

test.head()

   Unnamed: 0       age  sex       bmi  children  smoker    region  BMI_group
0    0.571429  0.586957  0.0  0.247915       0.4     0.0  0.000000       0.75
1    0.663426  0.391304  0.0  0.378262       0.0     0.0  0.333333       0.50
2    0.665669  1.000000  0.0  0.293920       0.0     1.0  0.333333       0.75
3    0.967091  0.608696  1.0  0.263250       0.6     0.0  0.333333       0.75
4    0.193717  0.021739  1.0  0.429379       0.0     1.0  0.333333       0.50

In [76]:
X_train_sm = sm.add_constant(test)

y_test_pred = lm.predict(X_train_sm)

/usr/local/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [77]:
y_test_pred

0      0.121677
1      0.100083
2      0.577970
3      0.135668
4      0.418360
         ...
263    0.614691
264    0.167684
265    0.099373
266    0.648466
267    0.183732
Length: 268, dtype: float64