In [2]:
import pandas as pd

df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
print(df.head())

     Ord_id  Prod_id   Ship_id    Cust_id    Sales  Discount  Order_Quantity  \
0  Ord_5446  Prod_16  SHP_7609  Cust_1818   136.81      0.01            23.0
1  Ord_5406  Prod_13  SHP_7549  Cust_1818    42.27      0.01            13.0
2  Ord_5446   Prod_4  SHP_7610  Cust_1818  4701.69      0.00            26.0
3  Ord_5456   Prod_6  SHP_7625  Cust_1818  2337.89      0.09            43.0
4  Ord_5485  Prod_17  SHP_7664  Cust_1818  4233.15      0.08            35.0

    Profit  Shipping_Cost  Product_Base_Margin
0   -30.51           3.60                 0.56
1     4.56           0.93                 0.54
2  1148.90           2.50                 0.59
3   729.34          14.30                 0.37
4  1219.87          26.30                 0.38

In [5]:
df.isnull().sum(axis=0)

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64

In [15]:
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
round(100 * (df.isnull().sum(axis=0) / len(df.index)), 2)

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.24
Discount               0.65
Order_Quantity         0.65
Profit                 0.65
Shipping_Cost          0.65
Product_Base_Margin    1.30
dtype: float64

In [20]:
df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8379.000000,8344.000000,8344.000000,8344.000000,8344.000000,8290.000000
mean,1776.446422,0.049682,25.593960,180.447297,12.834402,0.512481
std,3587.529945,0.031825,14.481482,1194.694347,17.273677,0.135560
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.352500,3.300000,0.380000
50%,449.170000,0.050000,26.000000,-1.540000,6.070000,0.520000
75%,1706.285000,0.080000,38.000000,163.472500,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [22]:
len(df[df.isnull().sum(axis = 1) > 5].index)

20

In [24]:
df = df[df.isnull().sum(axis = 1) <= 5]

df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8379.000000,8344.000000,8344.000000,8344.000000,8344.000000,8290.000000
mean,1776.446422,0.049682,25.593960,180.447297,12.834402,0.512481
std,3587.529945,0.031825,14.481482,1194.694347,17.273677,0.135560
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.352500,3.300000,0.380000
50%,449.170000,0.050000,26.000000,-1.540000,6.070000,0.520000
75%,1706.285000,0.080000,38.000000,163.472500,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [25]:
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8379 non-null float64
Discount               8344 non-null float64
Order_Quantity         8344 non-null float64
Profit                 8344 non-null float64
Shipping_Cost          8344 non-null float64
Product_Base_Margin    8290 non-null float64
dtypes: float64(6), object(4)
memory usage: 656.3+ KB

In [28]:
print(df['Product_Base_Margin'].isnull().sum())

109

In [31]:
import numpy as np

df.loc[np.isnan(df['Product_Base_Margin']), 'Product_Base_Margin'] = df['Product_Base_Margin'].mean()


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8379 non-null float64
Discount               8344 non-null float64
Order_Quantity         8344 non-null float64
Profit                 8344 non-null float64
Shipping_Cost          8344 non-null float64
Product_Base_Margin    8399 non-null float64
dtypes: float64(6), object(4)
memory usage: 656.3+ KB

In [36]:
# print(round(df.isnull().sum(axis=1) / len(df.index), 2))#Round off to 2 decimal places.

print(round(df.isnull().sum(axis=0) / len(df.index), 2))#Round off to 2 decimal places.

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.00
Discount               0.01
Order_Quantity         0.01
Profit                 0.01
Shipping_Cost          0.01
Product_Base_Margin    0.00
dtype: float64