In [22]:
import pandas as pd
import numpy as np

In [11]:
bank = pd.read_csv('./Inferential Statistics - Student Loan.csv')

bank.drop(['Unnamed: 4', 'Unnamed: 5'], axis='columns', inplace=True)

bank['Recovery (%)'] = bank['Recovery (%)'].apply(lambda x: x.replace("%", "")).astype(float)
# bank['Recovery (%)']

bank['loss'] = bank['Exposure at Default (in lakh Rs.)'] - (bank['Exposure at Default (in lakh Rs.)'] * (bank['Recovery (%)'])/100)

bank['loss'] = round(bank['loss'] * 100000, 2)

bank.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,loss
0,1,11.50,20.00,0.0070,920000.0
1,2,0.24,5.10,0.0033,22776.0
2,3,0.04,24.86,0.0022,3005.6
3,4,13.81,2.29,0.0066,1349375.1
4,5,19.84,3.47,0.0020,1915155.2

In [12]:
bank.loss.sum()/10000000

990.7712214100001

In [13]:
clt = pd.read_csv('./Inferntial Statistics - UpGrad Samples.csv')


clt

    Sample No.  Sample Mean
0            1          3.2
1            2          2.6
2            3          2.8
3            4          2.0
4            5          3.0
..         ...          ...
95          96          2.6
96          97          1.8
97          98          2.4
98          99          2.4
99         100          2.6

[100 rows x 2 columns]

In [14]:
clt['Sample Mean'].describe()

count    100.000000
mean       2.348000
std        0.426989
min        1.400000
25%        2.000000
50%        2.400000
75%        2.600000
max        3.200000
Name: Sample Mean, dtype: float64

In [15]:
rent = pd.read_csv('./Inferential Statistics - Powai Flats Rent.csv')


rent

     S. No.  Monthly Rent
0         1         44000
1         2         49800
2         3         45400
3         4         40700
4         5         43900
..      ...           ...
195     196         49800
196     197         51900
197     198         55700
198     199         45800
199     200         59500

[200 rows x 2 columns]

In [17]:
month_rent = rent['Monthly Rent']

In [18]:
month_rent.mean()

45571.0

In [19]:
month_rent.std()

7457.521851178448

In [20]:
month_rent.describe()

count      200.000000
mean     45571.000000
std       7457.521851
min      30100.000000
25%      41250.000000
50%      44950.000000
75%      49825.000000
max      59800.000000
Name: Monthly Rent, dtype: float64

In [26]:
round((2.58 * month_rent.std())/np.sqrt(len(month_rent)), 2)

1360.5